<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CZZX</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.design.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/design/registerServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>picServlet</servlet-name>
    <servlet-class>com.design.picServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>picServlet</servlet-name>
    <url-pattern>/design/picServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forumServlet</servlet-name>
    <servlet-class>com.design.forumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forumServlet</servlet-name>
    <url-pattern>/design/forumServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ouServlet</servlet-name>
    <servlet-class>com.design.ouServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ouServlet</servlet-name>
    <url-pattern>/design/ouServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>meiServlet</servlet-name>
    <servlet-class>com.design.meiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>meiServlet</servlet-name>
    <url-pattern>/design/meiServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>diServlet</servlet-name>
    <servlet-class>com.design.diServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>diServlet</servlet-name>
    <url-pattern>/design/diServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jianServlet</servlet-name>
    <servlet-class>com.design.jianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jianServlet</servlet-name>
    <url-pattern>/design/jianServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tianServlet</servlet-name>
    <servlet-class>com.design.tianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tianServlet</servlet-name>
    <url-pattern>/design/tianServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>riServlet</servlet-name>
    <servlet-class>com.design.riServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>riServlet</servlet-name>
    <url-pattern>/design/riServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>guServlet</servlet-name>
    <servlet-class>com.design.guServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guServlet</servlet-name>
    <url-pattern>/design/guServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>woServlet</servlet-name>
    <servlet-class>com.design.woServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>woServlet</servlet-name>
    <url-pattern>/design/woServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>keServlet</servlet-name>
    <servlet-class>com.design.keServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>keServlet</servlet-name>
    <url-pattern>/design/keServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>canServlet</servlet-name>
    <servlet-class>com.design.canServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>canServlet</servlet-name>
    <url-pattern>/design/canServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chuServlet</servlet-name>
    <servlet-class>com.design.chuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chuServlet</servlet-name>
    <url-pattern>/design/chuServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shuServlet</servlet-name>
    <servlet-class>com.design.shuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shuServlet</servlet-name>
    <url-pattern>/design/shuServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yangServlet</servlet-name>
    <servlet-class>com.design.yangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yangServlet</servlet-name>
    <url-pattern>/design/yangServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yuServlet</servlet-name>
    <servlet-class>com.design.yuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yuServlet</servlet-name>
    <url-pattern>/design/yuServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>childServlet</servlet-name>
    <servlet-class>com.design.childServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>childServlet</servlet-name>
    <url-pattern>/design/childServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findServlet</servlet-name>
    <servlet-class>com.design.findServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findServlet</servlet-name>
    <url-pattern>/design/findServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>oneServlet</servlet-name>
    <servlet-class>com.design.oneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oneServlet</servlet-name>
    <url-pattern>/design/oneServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>twoServlet</servlet-name>
    <servlet-class>com.design.twoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>twoServlet</servlet-name>
    <url-pattern>/design/twoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>threeServlet</servlet-name>
    <servlet-class>com.design.threeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>threeServlet</servlet-name>
    <url-pattern>/design/threeServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fourServlet</servlet-name>
    <servlet-class>com.design.fourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fourServlet</servlet-name>
    <url-pattern>/design/fourServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gongServlet</servlet-name>
    <servlet-class>com.design.gongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gongServlet</servlet-name>
    <url-pattern>/design/gongServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fuServlet</servlet-name>
    <servlet-class>com.design.fuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fuServlet</servlet-name>
    <url-pattern>/design/fuServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bieServlet</servlet-name>
    <servlet-class>com.design.bieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bieServlet</servlet-name>
    <url-pattern>/design/bieServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yueServlet</servlet-name>
    <servlet-class>com.design.yueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yueServlet</servlet-name>
    <url-pattern>/design/yueServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>replyServlet</servlet-name>
    <servlet-class>com.design.replyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>replyServlet</servlet-name>
    <url-pattern>/design/replyServlet.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>designerServlet</servlet-name>
    <servlet-class>com.design.designerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>designerServlet</servlet-name>
    <url-pattern>/design/designerServlet.do</url-pattern>
  </servlet-mapping>
</web-app>